.header{
    height: 9vh;
    width: 100vw;
    background:  rgba(25, 97, 160, 0.8);
    color: white;
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    font-family: 'Didact Gothic';
}

.header h1{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

button{
    padding: 12px;
    font-family: 'Didact Gothic';
    border-radius: 5px;
    background:  rgba(25, 97, 160, 0.8);
    color: white;
    border: 2px outset black;
    cursor: pointer;
}

#login{
    position: relative;
    left: 75vw;
    padding: 10px;
}

.hamburger-icon{
    position: relative;
    margin-right: 55px;
    float: right;
    color: white;
}

.hamburger-icon:hover{
    cursor: pointer;
}


#login svg{
    width: 20px;
    height: 20px;
    position: relative;
    left: 5px;
    top:3px;
}

#login:hover{
    padding-left: 15px;    
    padding-right: 15px;
    transition: 1s;
}

.content-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box{
    margin-top: 100px;
    width: 80vw;
    height: 98vh;
    color: black;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 1); 
    font-family: 'Didact Gothic';
    padding: 10px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-size: large;
}



/* .text-box h1{
    width: 100%;
    height: 8vh;
    background-color: rgba(69, 135, 192, 1); 
    
    text-align: center;
} */

.text-box p{
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
}

#about-us{
    margin-top: 0px;
}

h1{
    background-color: rgba(69, 135, 192, 1); 
    color: white;
    font-style: bold;
    margin: 0;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.flex-container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}
.flex-item {

    flex-basis: 200px;
    justify-content: flex-start;
    display: flex;
}

.flex-item img {
    width: 100%;
    height: 90%;
    border-radius: 20%;
    cursor: pointer;
}

.flex-item figcaption{
    text-align: center;
}

.login-today{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 35%;   
}

.login-today p{
    text-align: center;
}

.login-today ul{
    display: table;
    margin: 0 auto;
}

.login-today-h1{   
    margin-top: 30px;
    margin-bottom: 10px;
}

.text-box-about-diabetes{
    margin-top: 800px;
    width: 80vw;
    height: 190vh;
    color: black;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 1); 
    font-family: 'Didact Gothic';
    padding: 10px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-size: large;
}

.symptoms{
    margin-top: 25px;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li{
    margin: 10px 0;
}

iframe{
    border-radius: 7px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.more-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

a:visited { 
    text-decoration: none; 
    color:blue
}